    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Roboto Slab', serif;
        padding: 10px;
        background: white;
    }

    .Anges-world-banner {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
    }

    div h2 {
        color: #b84c65;
    }

    /* Header/Blog Title */
    .header {
        padding: 20px;
        text-align: center;
        background: white;
        font-size: 18px;
        font-family: 'Roboto Slab', serif;
    }

    .header h1 {
        font-size: 35px;
        font-family: 'Roboto Slab', serif;
        color: #b84c65;
    }

    /* Style the top navigation bar */
    .topnav {
        overflow: hidden;
        background-color: #B5838D;
    }

    /* Style the topnav links */
    .topnav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Change color on hover */
    .topnav a:hover {
        background-color: #f6e1e4;
        color: black;
    }


    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        color: white;
        margin: 0;
    }

    .topnav a:hover,
    .dropdown:hover .dropbtn {
        background-color: #f6e1e4;
        color: inherit;
        font-family: inherit;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6e1e4;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    img.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        right: 25px;
        width: 300px;
    }

    #static-btn {
        background-color: #c9184a;
        color: white;
        border: dashed red;
        font-size: 30px;
        position: fixed;
        top: 0;
        right: 15px;
    }

    /* Create two unequal columns that floats next to each other */
    /* Left column */
    .leftcolumn {
        float: left;
        width: 75%;
    }

    /* Right column */
    .rightcolumn {
        background-color: #f1f1f1;
        float: left;
        width: 25%;
        padding: 10px;
        margin-top: 10px;
        text-align: center;
       
    }

    /* Content images */
    .contentimg {
        background-color: whitesmoke display: block;
        width: 100%;
        height: auto;
    }


    /* Add a card effect for articles */
    .card {
        background-color: white;
        padding: 10px;
        margin-top: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .list-1 {
        list-style-type: circle;
    }

    /* Footer */
    .footer {
        padding: 20px;
        text-align: center;
        background: #B5838D;
        color: white;
        margin-top: 20px;
    }

    .card-subscribe {
        background-color: #f3d1d8;
        padding: 10px;
        margin-top: 10px;
        text-align: center;
    }

    .button {
        padding: 10px 25px;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #953b50;
        border: none;
        border-radius: 15px;

    }

    .button:hover {
        background-color: #B5838D;
    }

    .button:active {
        background-color: #686868;
        transform: translateY(4px);
    }

    .button-align-right {
        text-align: right;
        border: 0;
    }


    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 50em {

            .leftcolumn,
            .rightcolumn {
                width: 100%;
                padding: 0;
            }
        }

        /* Responsive layout - when the screen is less than 200px wide, make the navigation links stack on top of each other instead of next to each other */
        @media screen and (max-width: 20em) {
            .topnav a {
                float: none;
                width: 100%;
            }
        }
